################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MarsRover.MSTest/obj
/MarsRover/bin
/MarsRover/obj
